body
{
background-color:aqua;
}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 70%;
  margin-bottom: 15px;
  text-align:center;
}

/* Style the form icons */


/* Style the input fields */
.input-field {
  width: 70%;
  padding: 10px;
  outline: none;
  text-align:center;
}

.input-field:focus {
  border: 2px solid blue;
}

/* Set a style for the submit button */
.btn {

  color: red;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  text-align:center;
}

.btn:hover {
  opacity: 1;
}