
{% extends 'base.html' %}
{% block body %}

<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <h2 style="text-align=center;">Add Form</h2>
    <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" name="name" placeholder="Enter your name"><br>
    </div>
    <div class="input-container">
    <i class="fa fa-description icon"></i>
        <input class="input-field"  type="text" name="desc" placeholder="Enter Your Description"><br>
    </div>
    <div class="input-container">
    <i class="fa fa-year icon"></i>
    <input class="input-field"  type="text" name="year" placeholder="Enter your year"><br>
    </div>

    <div class="input-container">
    <input type="file" name="img" ><br>
    </div>
    <div class="btn">
    <input type="submit">
    </div>
</form>

{% endblock %}